.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.projects-section h2 {
  text-align: center;
  font-family: 'Saira Stencil One', cursive;
  font-size: 42px;
}

.project-wrapper {
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
}

.project {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  box-sizing: border-box;
  align-items: center;
}

.project-img img {
  max-width: 30%;
  height: auto;
  transition: transform 0.3s;
}

.project-img .servo {
  max-width: 48%;
  height: auto;
  align-items: center;
  transition: transform 0.3s;
}

.project-img {
  flex-basis: 66.67%;
  display: flex;
  gap: 10px;
}

.project-img img:hover,
.project-img .servo:hover {
  transform: scale(1.1);
}

.project-content {
  flex-basis: 33.33%; 
  background-color: #FCF8D9;
  padding: 10px;
  box-shadow: 6px 11px 8px 0px rgba(0,0,0,0.1);
  font-family: 'Roboto', sans-serif;
}

.project2 {
  margin-top: 60px;
  margin-right: 80px;
}

.project .project2 {
  align-items: center;
}

.project-content h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 900;
}

.project-content h4 {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #888;
}

.project-content p {
  margin: 10px 0;
  font-size: 1.1rem;
}

.project-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.project-content ul li {
  display: inline-block; 
}

.project-content ul li a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  align-items: center;
  padding: 5px;
  transition: transform 0.3s;
}
 
.project-content ul li a:hover {
transform: scale(1.1);
}